<%- include("backend-templates/backend-header") %>

<div class="row">
    <div class="col-md-3 text-center">
        <div class="card mb-3 shadow-sm border-0">
            <div class="card-body">
                <p class="font-weight-bold">Total Post</p>
                <h2 class="text-primary"><%= jmlPost %></h2>
            </div>
          </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="card mb-3 shadow-sm border-0">
            <div class="card-body">
                <p class="font-weight-bold"><a class="text-dark" href="/admin/tampil-semua-post">Post Aktif</a></p>
                <h2 class="text-primary"><%= postAktif %></h2>
            </div>
          </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="card mb-3 shadow-sm border-0">
            <div class="card-body">
                <p class="font-weight-bold"><a class="text-dark" href="/admin/arsip-post">Arsip Post</a></p>
                <h2 class="text-primary"><%= postArsip %></h2>
            </div>
          </div>
    </div>
</div>

<%- include("backend-templates/backend-footer") %>