<%- include('frontend-templates/frontend-header') %>

        <div class="row mt-3">
            <div class="col-md-8">
                <% if (tag === "" && search === "") { %>
                    <h6 class="font-weight-bold">Latest Post</h6>
                <% } else if (tag !== "") { %>
                    <h5>#<%= tag %></h5>
                <% } else if (tag === "" && search) { %>
                    <h5>Search item: <%= search %></h5>
                <% } %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2">
                <% tags.forEach(tag => { %>
                    <a class="text-dark" href="/tag/<%= tag %>"><span class="btn btn-sm btn-light mb-2 px-2 mb-1"><span class="ti-tag"></span> <%= tag %></span></a>
                <% }) %>
            </div>
            <div class="col-md-8">
                <% posts.forEach(post => { %>
                    <div class="card mb-3 border-0 bg-transparent">
                        <div class="row no-gutters d-flex align-items-center">
                            <div class="col-md-4">
                                <% if (post.img !== "") { %>
                                    <img src="../img/post/<%= post.img %>" class="card-img-top" alt="post" />
                                <% } else { %>
                                    <img src="../img/post/defaultimg2.png" class="card-img-top" alt="post" />
                                <% } %>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a class="text-dark text-underline-dark" href="/post/<%= post.slug %>"><h4 class="card-title mb-0 font-weight-bold"><%= post.title %></h4></a>
                                    <small class="text-muted">
                                        <%= new Date(post.created_at).getDate() %> 
                                        <%= arrMonth[new Date(post.created_at).getMonth()] %> 
                                        <%= new Date(post.created_at).getFullYear() %>
                                    </small><br>
                                    <div class="tag-list my-2">
                                        <% post.tags.forEach(tag => { %>
                                            <a href="/tag/<%= tag %>"><span class="btn btn-sm btn-light mb-1"><span class="ti-tag"></span> <%= tag %></span></a>
                                        <% }) %>
                                    </div>
                                    <p class="card-text"><%= post.content.substring(0, 70) + ". . . " %><a href="/post/<%= post.slug %>">read more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

    <%- include('frontend-templates/frontend-footer') %>