<%- include('frontend-templates/frontend-header') %>

<div class="row">
  <div class="col-lg-8">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent p-0">
        <li class="breadcrumb-item"><a class="text-dark" href="/">Home</a></li>
        <li class="breadcrumb-item active font-weight-bold" aria-current="page"><%= currentPost.title %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg border-bottom mb-4">
          <% if (isAuthLink) { %>
              <a class="btn btn-sm btn-danger mb-3" href="/admin/mengubah-post/<%= currentPost.slug %>"><span class="ti-pencil-alt"></span> Ubah</a>
          <% } %>
          <div class="card mb-3 border-0 bg-transparent">
              <% if (currentPost.img !== "") { %>
                <img src="../img/post/<%= currentPost.img %>" class="card-img-top" alt="post" />
              <% } else { %>
                <img src="../img/post/defaultimg2.png" class="card-img-top" alt="post" />
              <% } %>
              <div class="card-body px-0">
                <h4 class="card-title mb-0 font-weight-bold"><%= currentPost.title %></h4>
                <small class="text-muted">
                  <%= new Date(currentPost.created_at).getDate() %> 
                  <%= arrMonth[new Date(currentPost.created_at).getMonth()] %> 
                  <%= new Date(currentPost.created_at).getFullYear() %>
                </small><br>
                <div class="tag-list my-2">
                  <% currentPost.tags.forEach((tag) => { %>
                    <a href="/tag/<%= tag %>"><span class="btn btn-sm btn-light p-2"><span class="ti-tag"></span> <%= tag %></span></a>
                  <% }) %>
                </div>
                <p class="card-text mt-3">
                  <%= currentPost.content %>
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h6 class="mb-3 font-weight-bold">Other Posts</h6>
      <% otherPosts.forEach(post => { %>
          <% if (currentPost.slug !== post.slug) { %>
              <div class="row">
                  <div class="col-lg">
                      <div class="card mb-3 border-0 bg-transparent">
                          <div class="card-body p-0">
                              <a class="text-dark text-underline-dark" href="/post/<%= post.slug %>">
                                  <h5 class="card-title mb-0 text-justify font-weight-bold"><%= post.title %></h5>
                              </a>
                              <small>
                                  <%= new Date(post.created_at).getDate() %> 
                                  <%= arrMonth[new Date(post.created_at).getMonth()] %> 
                                  <%= new Date(post.created_at).getFullYear() %> 
                              </small>
                              <p class="text-justify overflow-hidden"><%= post.content.substring(0, 50) %>...<a href="/post/<%= post.slug %>">(more)</a></p>
                          </div>
                      </div>
                  </div>
              </div>
          <% } %>
      <% }) %>
  </div>
</div>

<div class="row my-4">
  <div class="col-lg-8">
    <h4 class="font-weight-bold"><%= comments.length %> Komentar</h4>
    <small class="text-muted">Silakan beri komentar terkait postingan ini, dilarang membagi komentar yang bersifat SARA. Terapkanlah nilai-nilai baik di lingkup komunitas ini.</small>
    <form action="/post/menambah-komentar/<%= currentPost.slug %>" method="POST">
      <div class="form-group mt-3">
        <input type="text" class="form-control formName" id="name" name="name" placeholder="Nama" required>
      </div>
      <div class="form-group">
        <textarea class="form-control formComment" id="comment" name="comment" placeholder="Komentar" rows="7" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary font-weight-bold submit-komentar">Submit</button>
    </form>
  </div>
</div>
<div class="row mt-5 kolom-komentar">
  <% comments.forEach(comment => { %>
    <div class="col-lg-8">
      <div class="card mb-3 rounded-0 p-3">
        <div class="row no-gutters d-flex align-items-center">
          <div class="col-md-2">
            <img src="../img/post/komentar/1.jpg" class="card-img-top rounded-circle" alt="post" />
          </div>
          <div class="col-md-10">
              <div class="card-body py-0">
                  <h4 class="card-title font-weight-bold"><%= comment.name %></h4>
                  <% if (comment.hidden !== 1) { %>
                    <p class="card-text"><%= comment.body %></p>
                  <% } else { %>
                    <p class="card-text text-muted"><i>Komentar ini telah disembunyikan oleh admin.</i></p>
                  <% } %>
                  <a href="#">Balas &raquo;</a>
                  <% if (isAuthLink) { %>
                    <% if (comment.hidden === 0) { %>
                      <form action="/post/menghapus-komentar/<%= currentPost.slug %>" method="POST">
                        <button type="submit" class="btn btn-sm btn-warning" name="deleteComment" value="<%= comment.body %>" onClick="return confirm('Yakin ingin menghapus komentar ini?');"><span class="ti-trash"></span> Hapus</button>
                      </form>
                    <% } else { %>
                      <form action="/post/mengaktifkan-komentar/<%= currentPost.slug %>" method="POST">
                        <button type="submit" class="btn btn-sm btn-light" name="activateComment" value="<%= comment._id %>" onClick="return confirm('Yakin ingin mengaktifkan komentar ini?');"><span class="ti-plus"></span> Aktifkan</button>
                      </form>
                    <% } %>
                    <form action="/post/menghapus-permanen-komentar/<%= currentPost.slug %>" method="POST">
                      <button type="submit" class="btn btn-sm btn-danger" name="permanentDeleteComment" value="<%= comment._id %>" onClick="return confirm('Yakin ingin menghapus permanen komentar ini?');"><span class="ti-trash"></span> Hapus Permanen</button>
                    </form>
                  <% } %>
              </div>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<%- include('frontend-templates/frontend-footer') %>
