<%- include('frontend-templates/frontend-header') %>

<div class="row">
  <div class="col-lg-8">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent p-0">
        <li class="breadcrumb-item"><a class="text-dark" href="/">Home</a></li>
        <li class="breadcrumb-item active font-weight-bold" aria-current="page"><%= post.title %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="card mb-3 border-0 bg-transparent">
            <img src="../img/post/<%= post.img %>" class="card-img-top <%= post.img === "" ? "d-none" : "" %>" alt="post" />
            <div class="card-body px-0">
              <h4 class="card-title mb-0 font-weight-bold"><%= post.title %></h4>
              <small class="text-muted">
                <%= new Date(post.created_at).getDate() %> 
                <%= arrMonth[new Date(post.created_at).getMonth()] %> 
                <%= new Date(post.created_at).getFullYear() %>
              </small><br>
              <div class="tag-list my-2">
                <% post.tags.forEach((tag) => { %>
                  <a href="/tag/<%= tag %>"><span class="btn btn-sm btn-light p-2"><span class="ti-tag"></span> <%= tag %></span></a>
                <% }) %>
              </div>
              <p class="card-text mt-3">
                <%= post.content %>
              </p>
            </div>
        </div>
    </div>
</div>

<%- include('frontend-templates/frontend-footer') %>
