<%- include('frontend-templates/frontend-header') %>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent p-0">
        <li class="breadcrumb-item"><a class="text-dark" href="/">Home</a></li>
        <li class="breadcrumb-item active font-weight-bold" aria-current="page"><%= post.title %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card p-3 mb-3 shadow-sm border-0">
            <img src="../img/post/<%= post.img %>" class="card-img-top <%= post.img === "" ? "d-none" : "" %>" alt="post" />
            <div class="card-body px-0">
              <h4 class="card-title mb-0"><%= post.title %></h4>
              <small>
                <%= arrDay[new Date(post.created_at).getDay()] %>, 
                <%= new Date(post.created_at).getDate() %> 
                <%= arrMonth[new Date(post.created_at).getMonth()] %> 
                <%= new Date(post.created_at).getFullYear() %> 
                <%= new Date(post.created_at).getHours() %>.<%= new Date(post.created_at).getMinutes() %>
              </small><br>
              <div class="tag-list my-2">
                <% post.tags.forEach((tag) => { %>
                  <a class="text-dark" href="/tag/<%= tag %>"><span class="badge badge-light p-2">#<%= tag %></span></a>
                <% }) %>
              </div>
              <p class="card-text mt-3">
                <%= post.content %>
              </p>
            </div>
        </div>
    </div>
</div>

<%- include('frontend-templates/frontend-footer') %>
