<%- include("backend-templates/backend-header") %>

<div class="row">
    <div class="col-md-6">
        <%- alert %>
        <div class="card shadow-sm border-0 p-3">
            <div class="card-body">
            <form action="/admin/mengubah-post" method="POST" enctype="multipart/form-data">
                <input type="hidden" id="slug" name="slug" value="<%= post.slug %>">
                <div class="form-group">
                    <input type="text" class="form-control bg-light" id="title" name="title" placeholder="title" value="<%= post.title %>" autofocus required>
                </div>
                <div class="form-group">
                    <textarea class="form-control bg-light" id="content" name="content" rows="5" placeholder="content" required><%= post.content %></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control bg-light" id="tags" name="tags" placeholder="tags: nodejs, express, etc" value="<%= post.tags %>" required>
                </div>
                <div class="form-group">
                    <img src="/img/post/<%= post.img %>" class="card-img-top mb-2 w-25" alt="post" /> Gambar sebelum: <%= post.img %>
                    <input type="hidden" name="prev_img" value="<%= post.img %>">
                    <input type="file" accept="image/*" class="form-control bg-light" id="image" name="image" value="<%= post.img %>" placeholder="ex: post-photo.jpg">
                </div>
                <a href="/admin/tampil-semua-post" class="btn btn-outline-secondary mr-2"><span class="ti-arrow-left"></span> Batal</a>
                <button type="submit" class="btn btn-primary font-weight-bold"><span class="ti-plus"></span> Ubah</button>
            </form>
            </div>
        </div>
    </div>
</div>

<%- include("backend-templates/backend-footer") %>